* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-decoration: none;
	border: none;
}

body {
	background-color: #42092b;
	color: #fff;
	font-family: roboto slab, "Times New Roman", Times, serif;
	font-size: 25px;
	text-align: center;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
main {
	padding: 0 40px;
	max-width: 1140px;
	margin: 0 auto;
}
section {
	margin: 100px 0;
}
img {
	object-fit: cover;
}
ul {
	display: flex;
	list-style: none;
	align-items: center;
} /* Vertically center items */
hr {
	margin: 10px 0 50px;
	height: 5px;
	background-color: rgba(203, 56, 100, 0.5);
	width: 100%;
}

.grid_item {
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	border-radius: 30px 5px;
}
.grid_container {
	display: grid;
	margin: auto 0;
	column-gap: 3%;
}
