header {
	width: 100%;
	top: 0;
	z-index: 100;
	background-color: #cb3864;
}
.logo {
	float: left;
	width: auto;
}
.navbar,
.logo {
	height: 80px;
}
.navbar {
	justify-content: right;
	.menu {
		display: none;
	}
}
.menu,
.cart,
.star {
	margin-right: 20px;
}
.nav {
	.star,
	.cart {
		display: none;
	}
	.grid_item:hover {
		background: linear-gradient(rgba(203, 56, 100, 1), rgba(203, 56, 100, 0.75));
	}
	.grid_container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		column-gap: 0;
	}
	.grid_item {
		height: 50px;
		line-height: 50px;
		background: rgba(40, 10, 28, 100%);
		color: inherit;
		border-radius: 0;
	}
}
.headerSticky {
	position: sticky;
	opacity: 0.9;
}
@media only screen and (max-width: 769px) {
	.logo {
		float: right;
		margin-right: 20px;
	}
	.navbar {
		justify-content: left;
		margin-left: 20px;
		.star,
		.cart {
			display: none;
		}
		.menu {
			display: block;
		}
	}
	.nav {
		.star,
		.cart {
			display: block;
		}
		.grid_container {
			justify-content: end;
			border: 3px solid black;
			border-top: none;
			border-left: none;
		}
		.grid_item {
			background: rgba(203, 56, 100, 1);
		}
		.grid_item:hover {
			background: rgb(101, 21, 45);
		}
	}

	header {
		width: 100%;
		top: 0;
		z-index: 100;
		background-color: #cb3864;
		height: 80px;
		position: sticky;
	}
	.headerSticky {
		opacity: 1;
	}
	.nav .grid_container {
		grid-template-columns: 1fr;
		column-gap: 0;
		width: 200px;
	}
	.hide {
		display: none;
	}
}
@media only screen and (max-width: 481px) {
	.navbar,
	.logo,
	header {
		height: 60px;
	}
}
/* Auto scroll for nav */
#newGames,
#cyberpunk,
#about,
#contact {
	scroll-margin-top: 70px;
	scroll-behavior: smooth;
}
#top_games {
	scroll-margin-top: 147px;
	scroll-behavior: smooth;
}
