* {
	margin: 0;
	padding: 0;
	text-align: center;
	scroll-behavior: smooth;
}
/* Font Size */

h1 {
	font-size: 80px;
}

h2 {
	font-size: 70px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 50px;
}
p {
	font-size: 20px;
}

/* General Styling */

body {
	background-color: #42092b;
	color: #fff;
	font-family: roboto slab, "Times New Roman", Times, serif;
	font-size: 25px;
}

main {
	padding: 0 40px;
}

hr {
	margin-top: 10px;
	margin-bottom: 15px;
	border: none;
	height: 5px;
	/* Set the hr color */
	color: rgba(203, 56, 100, 0.5); /* old IE */
	background-color: rgba(203, 56, 100, 0.5); /* Modern Browsers */
	padding: 0;
	width: 100%;
}

section {
	margin: 140px 0;
}

/* Header */

header {
	width: 100%;
	top: 0;
}

.logo {
	height: 70px;
}

nav {
	height: 50px;
	position: sticky;
	top: 0;
}

.navbar {
	background-color: #cb3864;
}

.nav--grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav--grid_item {
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	background: linear-gradient(rgba(40, 10, 28, 100%), rgba(40, 10, 28, 0.7));

	text-decoration: none;
	color: inherit;
}

.nav--grid_item:hover {
	background: linear-gradient(rgba(203, 56, 100, 1), rgba(203, 56, 100, 0.75));
}
#header,
#newGames,
#cyberpunk,
#info,
#contact {
	scroll-margin-top: 70px;
	scroll-behavior: smooth;
}

/* Images - Top Games - Image Grid */

.top_games {
	margin-top: 20px;
}

.top_games--grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto 0;
	column-gap: 50px;
}

.top_games--grid_item {
	width: 100%;
	border: 5px solid black;
	border-radius: 30px 5px;
}

@media only screen and (max-width: 700px) {
	.top_games--grid_container {
		grid-template-columns: 1fr;
	}
	.top_games--grid_item {
		max-height: 200px;
		overflow: hidden;
	}
}

/* Images - Game List - Image Grid */

.new_games--grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	row-gap: 50px;
	margin: auto 0;
	column-gap: 50px;
}

.new_games--grid_item {
	width: 100%;
	border-radius: 30px 5px;
}

@media only screen and (max-width: 950px) {
	.new_games--grid_container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.new_games--grid_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/*
.grid_container_img {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
}
.grid_item {
	width: 100%;
	height: auto;
}

.grid_item_image_wrap {
	height: 255px;
}
.grid_item img {
	height: 100%;

	object-fit: cover;

	border-radius: 30px 5px 30px 5px;
	display: block;
} */
