* {
	margin: 0;
	padding: 0;
	text-align: center;
	scroll-behavior: smooth;
	text-decoration: none;
}
/* Font Size */

h1 {
	font-size: 80px;
}

h2 {
	font-size: 70px;
}

h3 {
	font-size: 60px;
}

h4 {
	font-size: 50px;
}
h5 {
	font-size: 40px;
}
h6 {
	font-size: 25px;
}
p {
	font-size: 20px;
	margin: 20px;
}

/* General Styling */

.grid_item {
	width: 100%;
	overflow: hidden;
}

.grid_container {
	display: grid;
	margin: auto 0;
}

body {
	background-color: #42092b;
	color: #fff;
	font-family: roboto slab, "Times New Roman", Times, serif;
	font-size: 25px;
}

main {
	padding: 0 40px;
}

hr {
	margin-top: 10px;
	margin-bottom: 50px;
	border: none;
	height: 5px;
	/* Set the hr color */
	color: rgba(203, 56, 100, 0.5); /* old IE */
	background-color: rgba(203, 56, 100, 0.5); /* Modern Browsers */
	padding: 0;
	width: 100%;
}

section {
	margin: 100px 0;
}

/* Header */

header {
	width: 100%;
	position: sticky;
	top: -75px;
}

.logo {
	height: 70px;
}

nav {
	height: 50px;
}

.navbar {
	background-color: #cb3864;
}

.nav .grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav .grid_item {
	height: 50px;
	line-height: 50px;
	background: linear-gradient(rgba(40, 10, 28, 100%), rgba(40, 10, 28, 0.7));
	color: inherit;
}

.nav .grid_item:hover {
	background: linear-gradient(rgba(203, 56, 100, 1), rgba(203, 56, 100, 0.75));
}
#header,
#newGames,
#cyberpunk,
#about,
#contact {
	scroll-margin-top: 70px;
	scroll-behavior: smooth;
}

/* Images - Top Games - Image Grid */

.top_games {
	margin-top: 20px;
}

.top_games .grid_container {
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 50px;
}

.top_games .grid_item {
	border: 5px solid black;
	border-radius: 30px 5px;
}

@media only screen and (max-width: 700px) {
	.top_games .grid_container {
		grid-template-columns: 1fr;
	}
	.top_games .grid_item {
		max-height: 200px;
	}
}

/* Images - Game List - Image Grid */

.new_games .grid_container {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	row-gap: 50px;
	column-gap: 50px;
}

.new_games .grid_item {
	border-radius: 30px 5px;
}

@media only screen and (max-width: 950px) {
	.new_games--grid_container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 800px) {
	.new_games--grid_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/* Cyberpunk Card */

.cyberpunk .desc {
	background-color: #ffacc4;
	border: 10px solid #cb3864;
	color: black;
	padding: 20px;
	width: auto;
	border-radius: 30px 5px 0 5px;
}

.cyberpunk--main_img {
	width: 650px;
	max-height: 700px;
}

.cyberpunk .grid_container {
	grid-template-columns: 1fr 1fr;
	column-gap: 60px;
	max-height: 200px;
}
