/* General Styles */

@import url("./basic.css");
@import url("./typography.css");
@import url("./header.css");

/* Images - Top Games - Image Grid */

.top_games {
	margin-top: 50px;
	.grid_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.grid_item {
		border: 5px solid black;
	}
}
@media only screen and (max-width: 769px) {
	.top_games {
		.grid_container {
			grid-template-columns: 1fr;
		}
		.grid_item {
			height: 200px;
			margin-bottom: 20px;
		}
		h1 {
			font-size: 50px;
		}
	}
}

/* Images - Game List - Image Grid */

.new_games .grid_container {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	row-gap: 50px;
}
@media only screen and (max-width: 1025px) {
	.new_games .grid_container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		row-gap: 50px;
	}
}
@media only screen and (max-width: 769px) {
	.new_games .grid_container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (max-width: 481px) {
	.new_games .grid_container {
		grid-template-columns: 1fr 1fr;
	}
}
@media only screen and (max-width: 400px) {
	.new_games .grid_container {
		grid-template-columns: 1fr;
	}

	.new_games .grid_item {
		height: 200px;
	}

	.new_games {
		.grid_container {
			grid-template-columns: 1fr;
		}

		.grid_item {
			height: 200px;
		}
	}
}

/* -- Contact -- */

.contact .grid_container {
	grid-template-rows: 2fr 3fr 2fr 3fr 2fr 3fr 2fr 10fr;
}
.contact_about--grid_container {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.contact,
.about {
	background-color: #cb3864;
	padding: 20px;
	width: auto;
	border-radius: 30px;
	border: black solid 3px;
	margin: 40px 0;
}
.submit {
	width: 120px;
	height: 40px;
	margin: 10px auto 0 auto;
	border-radius: 10px;
	border: none;
	font-size: 20px;
}
@media only screen and (max-width: 1025px) {
	.contact_about--grid_container {
		grid-template-columns: 1fr;
	}
}
@media only screen and (max-width: 481px) {
	.contact,
	.about {
		padding: 10px;
		border-radius: 0;
		border: black solid 1px;
		margin: 20px 0;
	}
	.contact h3,
	.about h3 {
		font-size: 40px;
	}
	.about p {
		font-size: 16px;
		text-align: left;
	}
}

/* -- Product page -- */

.product_page {
	max-width: 1130px;
	margin: auto;
	h1 {
		text-decoration: underline;
		color: #fff;
	}

	span {
		font-size: 50px;
		font-weight: 500;
		color: #fff;
	}
	.desc {
		padding: 0 40px;
	}
	.desc p {
		font-size: 16px;
		color: #fff;
		font-weight: 500;
		padding: 20px;
		border: 1px solid #fff;
	}
	.buy_btn {
		height: 50px;
		width: 120px;
		font-size: 20px;
		font-weight: 800;
		border-radius: 5px;
		margin-bottom: 20px;
		background-color: #fff;
	}
	.price {
		display: flex; /* Use flexbox for horizontal layout */
		justify-content: left; /* Align items horizontally in center */
	}

	.grid_container {
		height: auto;
		width: 100%;
		margin: 50px 0;
		grid-template-columns: 5fr 6fr;
		column-gap: 0;
	}

	.grid_item:nth-child(1) {
		margin: 20px;
		background-color: none;
		padding: 20px;
	}
	.grid_item:nth-child(2) {
		margin: 20px 20px 20px 0;
	}

	.grid_item {
		width: auto;
	}

	.main_img {
		height: 100%;
		width: 100%;
		border: 5px solid #fff;
		box-sizing: border-box;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 1025px) {
	.product_page {
		.grid_container {
			grid-template-columns: 1fr;
		}

		.grid_item:nth-child(1) {
			height: 400px;
		}
		.grid_item:nth-child(2) {
			margin-left: 20px;
		}
	}
}
@media only screen and (max-width: 769px) {
	.product_page {
		margin: auto;
		.grid_item:nth-child(1) {
			margin: 10px;
			padding: 10px;
			border-radius: 0;
			height: 250px;
		}
		.grid_item:nth-child(2) {
			border-radius: 0;
		}
		h1 {
			font-size: 60px;
		}
		span {
			margin-left: 10px;
		}
	}
}
@media only screen and (max-width: 481px) {
	.product_page {
		h1 {
			font-size: 40px;
			font-weight: 300;
		}
		span {
			margin: 5px 0;
			font-size: 25px;
		}

		.grid_item:nth-child(2) {
			border: 10px solid #cb3864;
		}
		.desc p {
			font-weight: 400;
			padding: 10px;
			border: 1px solid black;
			margin: 0;
			margin-bottom: 10px;
			text-align: left;
		}
	}
}
@media only screen and (max-width: 400px) {
	.product_page {
		h1 {
			font-size: 30px;
		}
		span {
			font-size: 20px;
		}
		.desc {
			padding: 0 10px;
		}
	}
}

.card {
	position: relative;
}

/* -- Checkout -- */

/* Order summary */
.removeCart_btn {
	width: 150px;
	height: 50px;
	font-size: 20px;
}
.summary,
.total {
	background-color: #ff7ea5;
	border: 10px solid #cb3864;
	color: black;
	width: 1000px;
}

.item {
	background-color: #ffb3c9;
	padding: 10px;
	margin: 20px 40px;
}
.item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.summary {
	h3 {
		font-size: 50px;
		font-weight: 600;
	}
	span {
		font-size: 50px;
	}
}

@media only screen and (max-width: 769px) {
	.item {
		padding: 10px;
		margin: 10px 20px;
	}
	.summary {
		h3 {
			font-size: 30px;
			font-weight: 400;
		}
		span {
			font-size: 40px;
		}
	}
}
@media only screen and (max-width: 481px) {
	.item {
		padding: 10px;
		margin: 10px 20px;
	}
	.summary {
		h3 {
			font-size: 20px;
			font-weight: 400;
		}
		span {
			font-size: 16px;
		}
	}
}

/* Delivery Adress */

@media only screen and (max-width: 769px) {
	.success_page h1 {
		font-size: 40px;
	}
	.success_page p {
		font-size: 16px;
		text-align: left;
	}
}
@media only screen and (max-width: 400px) {
	.success_page h1 {
		font-size: 30px;
	}
}
